h3{
	font-family: 'sans-serif';
}
h1{
	font-family: 'sans-serif';
}
body{
	font-family:'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
}

a{
	text-decoration: none;
	color: ;
}

nav{
	text-align: center;
}
h4{
	font-family:'sans-serif';
	font-size: 16px;
}


.title{
	font-size:14px;
	font-weight:bold;
	line-height:200%;
}

.content{
	font-size:14px;
	margin-left:50px;

}
.indexText p{
	margin-left:auto;
	margin-right:auto;
	width:6em;
}
.indexText img{
	margin-left: auto;
	margin-right: auto;
	display:block;
	width:36em;

	

}
a:hover{
	color:#878787;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
@media screen and (max-width: 480px) {
    h1{
    	text-align:center;
    }
    content{
    	margin:0 auto;
    }
    .half{
    	padding-top:0;
    }
}
@media screen and (max-width: 1040px) {
   #site_wrapper{
   	margin:0 auto;
   }
}
/*

so in ur css
youll have like
@media screen and (max-width: 1040px) {
basically styles that only are active when the screen is above/below a certain width
that way u can have it adapt to mobile devices
so u make ur site
shrink the browser window
until it fucks up
write down the pixel # of where that is
[6:35] Varinal: interesting
[6:35] wilblol: and make a media query that adjusts the CSS 
when u hit that size
he wants 3 sizes
so u can do
desktop, tablet,  phone
which is like 1440, 960, 480 ish

not shrink necessarily
but just change it so like
sometiimes if u have 2 boxes side by side
it wont fit on a phone

so u stack them on top of each other instead
so normally u would just put like
width:50%; float:left;
and when it gets small
just do width:100%;

http://www.w3schools.com/tags/tag_meta.asp

*/